{% extends "appHome.twig" %}
{% block content %}

   <!--Home page style-->
   <header id="home" class="home">
      <div class="overlay-img">
         <div class="container">

            <div class="row">
               <div class="col-md-12">
                  <div class="home-content">

                     <h1>The Quality Service</h1>
                     <h3>Get your Premium Transfer For Edimburgh</h3>

                     <a target="_blank" href="#"><button class="btn btn-default btn-home">Download our prices<span><i class="fa fa-download"></i></span></button></a>

                  </div>
               </div>
            </div>

         </div>
      </div>
   </header>

   <!-- Sections -->
   <section id="about" class="sections">

      <div class="heading-content text-center">

         <h3>Know About Us</h3>

         <div class="separator"></div>

         <p>Edinburgh Transfers es una empresa con base en la ciudad de Edinburgh especializada en el transporte de pasajeros con cobertura en todo el territorio de Escocia, así como Reino Unido.</p>
         <p>Nuestro equipo de customer service así como todo nuestro equipo operativo estará encantado de ayudarles para todo lo que necesiten.</p>
         <br />
         <br />

         <div class="separator"></div>

      </div>

      <div class="about-bg">
         <div class="container">

            <!-- Example row of columns -->
            <div class="row">
               <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="about-content">

                     <h3>We Are the best</h3>
                     <p>AeroTransfers está formado por un equipo humano altamente cualificado y especializado, que hará de su trayecto una experiencia amable, servicial y única. </p>
                     <p>Nuestro equipo de profesionales se encargarán de proveer su servicio, por lo que estarán con usted en todas las etapas del servicio hasta que llegue a su destino.</p>
                     <p>No dude en consultarles cualquier tipo de información respecto a sus reservas o información de la ciudad.</p>


                     <a target="_blank" href="#"><button class="btn btn-default abt-btn">Read More<span><i class="fa fa-long-arrow-right"></i></span></button></a>
                  </div>
               </div>

               <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="about-img">
                     <img src="assets/images/WeAreTheBest.jpg" alt="" />
                  </div>
               </div>

            </div>
         </div> <!-- /container -->
      </div>

   </section>

   <!-- Sections -->
   <section id="service" class="sections">
      <div class="container text-center">
         <div class="heading-content2">

            <h4>Services We provide</h4>

            <p>
               <ul>
                  <li>Vehículos de alta gama</li>
                  <li>Wi-Fi y agua disponible en todos nuestros servicios sin coste extra, para hacer de tu trayecto una experiencia </li>
                  <li>Con nuestra APP tendrá informarción sobre su coche y atención al cliente en todo momento para garantizar nuestro servicio</li>
               </ul>
            </p>

         </div>

         <div class="separator"></div>

         <!-- Example row of columns -->
         <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
               <div class="service-content">
                  <i class="fa fa-street-view"></i>
                  <h5>Meet&Greet</h5>
                  <p>Estaremos esperándoles en el lugar día y hora acordados en la reserva durante, estándo conectado con Usted por si le surgiera algún tipo de imprevisto</p>
               </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
               <div class="service-content">
                  <i class="fa fa-clock-o"></i>
                  <h5>Cancelacion gratuita</h5>
                  <p>Cancelacion gratuita 24 horas previo servicio</p>
               </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
               <div class="service-content">
                  <i class="fa fa-users"></i>
                  <h5>Siempre a su lado</h5>
                  <p>Le ofrecemos una cobertura de servicio las 24 horas los 365 días del año</p>
               </div>
            </div>

         </div>
      </div> <!-- /container -->
      <br />
      <br />
   </section>

   <!-- Sections -->
   <section id="our-skills" class=" skills skill-bg">
      <div class="overlay-img">
         <div class="container sections text-center">
            <!-- Example row of columns -->
            <div class="row">
               <div class="col-sm-3 text-center">
                  <div class="main-skill">
                     <div class="chart-round">
                        <div class="chart" data-percent="100">
                           <span class="percent"></span>
                        </div>
                     </div>
                     <div class="skills-text">Puntuality</div>
                  </div>
               </div>

               <div class="col-sm-3 text-center">
                  <div class="main-skill">
                     <div class="chart-round">
                        <div class="chart" data-percent="99">
                           <span class="percent"></span>
                        </div>
                     </div>
                     <div class="skills-text">Customer satisfaction</div>
                  </div>
               </div>

               <div class="col-sm-3 text-center">
                  <div class="main-skill">
                     <div class="chart-round">
                        <div class="chart" data-percent="86">
                           <span class="percent"></span>
                        </div>
                     </div>
                     <div class="skills-text">Customer service</div>
                  </div>
               </div>

               <div class="col-sm-3 text-center">
                  <div class="main-skill">
                     <div class="chart-round">
                        <div class="chart" data-percent="100">
                           <span class="percent"></span>
                        </div>
                     </div>
                     <div class="skills-text">The best price, guaranteed</div>
                  </div>
               </div>

            </div>

         </div>
      </div> <!-- /container -->
      </div>
   </section>




   <!-- Sections -->
   <section id="team" class="sections lightbg">
      <div class="container text-center">
         <div class="heading-content text-center">

            <h3>Our Team Members</h3>

            <div class="separator"></div>

            <p>Trabajamos para Usted</p>

         </div>
         <!-- Example row of columns -->
         <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
               <div class="main-team">
                  <div class="team-details">

                     <img src="assets/images/team-img.jpg" alt="" />
                     <div class="team-overlay"></div>

                     <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                     </div>

                  </div>

                  <div class="members-info">
                     <h4>James Martínez</h4>
                     <h6>Managing Director</h6>
                  </div>
               </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
               <div class="main-team">
                  <div class="team-details">

                     <img src="assets/images/team-img.jpg" alt="" />
                     <div class="team-overlay"></div>

                     <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                     </div>

                  </div>

                  <div class="members-info">
                     <h4>Juanma</h4>
                     <h6>Chief financial officer</h6>
                  </div>
               </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
               <div class="main-team">
                  <div class="team-details">

                     <img src="assets/images/team-img.jpg" alt="" />
                     <div class="team-overlay"></div>

                     <div class="social">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                     </div>

                  </div>

                  <div class="members-info">
                     <h4>Irene</h4>
                     <h6>Customer Service Manager</h6>
                  </div>
               </div>
            </div>




         </div>
      </div> <!-- /container -->
   </section>


   <!-- Sections -->
   <section id="our-client" class="sections different-bg">
      <div class="container text-center">

         <!-- Example row of columns -->
         <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">


               <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">


                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">

                     <div class="item active">
                        <div class="client-content">
                           <h3>¿Que dicen nuestros clientes?</h3>
                           <p>
                              “It was a pleasure to work with James Martínez. He is very dedicated and professional.
                              He worked very hard to satisfy our requirements and the communication was great.”
                           </p>

                           <div class="client-basicinfo">
                              <h6>John Doe</h6>
                              <!-- <a href="#">www.yourwebsite.zt</a> -->
                           </div>

                        </div>
                     </div>

                     <div class="item">
                        <div class="client-content">
                           <h3>¿Que dicen nuestros clientes?</h3>
                           <p>
                              “When we arrived at Edimbrugh, there was our driver waitting us. It was quite a detail of having bottled water in the vehicle”

                           </p>

                           <div class="client-basicinfo">
                              <h6>Karina Braun</h6>
                              <!-- <a href="#">www.yourwebsite.zt</a> -->
                           </div>

                        </div>
                     </div>

                     <div class="item">
                        <div class="client-content">
                           <h3>¿Que dicen nuestros clientes?</h3>
                           <p>
                              “We were met at the airport and they made us one of the best tours in the city”
                           </p>

                           <div class="client-basicinfo">
                              <h6>Jonathan Rea</h6>
                              <!-- <a href="#">www.yourwebsite.zt</a> -->
                           </div>

                        </div>
                     </div>



                  </div>

                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                     <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

               </div>



            </div>

         </div>
      </div> <!-- /container -->
   </section>



   <section id="contact" class="sections lightbg">
      <div class="container">

         <div class="heading-content text-center">
            <div class="heading-title">
               <h3>Contacto</h3>
            </div>

         </div>

         <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

               <form>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre*">
                     </div>
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email*">
                     </div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="form-group">
                        <textarea class="form-control txt-area" rows="5" placeholder="Mensaje . . ."></textarea>
                     </div>
                  </div>

                  <div class="submit-btn"><button type="submit" class="btn btn-default abt-btn">Enviar</button></div>
               </form>

            </div>
         </div>
      </div>
   </section>


   <!--Footer-->
   <footer id="footer" class="sections footer different-bg">

      <div class="container">
         <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
               <div class="footer-first-content">
                  <div class="logo"><img src="assets/images/footer-logo.png" alt="Company Logo" /></div>
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.</p>
                  <p>eugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta</p>
               </div>
            </div>

            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
               <div class="footer-last-content">
                  <h4>Dirección</h4>
                  <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta </p>
               </div>
            </div>

            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
               <div class="footer-last-content">
                  <h4>Contacto</h4>

                  <div class="contact-info">
                     <p><i class="fa fa-map-marker"></i>Moonshine St. 14/05 Light</p>
                     <p><i class="fa fa-phone"></i>+44 (0) 7470752933</p>
                     <p><i class="fa fa-envelope"></i>info@editransfers.com / booking@editransfers.com</p>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </footer>

   <div class="scroll-top">

      <div class="scrollup">
         <i class="fa fa-angle-double-up"></i>
      </div>

   </div>

   <footer class="copyright-footer">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="copyright text-center">
                  <p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://weblogica.es"> Weblogica </a>2016. All rights reserved.</p>
               </div>
            </div>
         </div>
      </div>
   </footer>

{% endblock %}